@charset "UTF-8";

@media screen and (max-width: 2560px) and (min-width: 2000px){
    #texto{
        font-size: 30px;
    }
    .sidebar {
        width: 350px;
        gap: 10px;
        padding: 20px;
    }
    .sidebar.active {
        width: 100px;
    }
    .menu ul li a {
        gap: 10px;
        font-size: 20px;
        padding: 16px 6px;
    }
    .menu .sub-menu li a {
        font-size: 18px;
    }
    .user-details .title, .menu .title{
        font-size: 18px;
    }
    
    .user-details .name{
        font-size: 24px;
    }
    .sidebar .head {
        flex-direction: column;
        align-items: center;
    }
    
    #younique{
        height: 70px; 
        margin-bottom: 5px;
    }

}


@media screen and (max-width: 1440px){
    #texto{
        font-size: 19px;
    }
}


@media screen and (max-width: 1024px){
    #texto{
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 988px){
    #texto{
        font-size: 20px;
    }
}

@media screen and (max-width: 850px){
    #texto{
        font-size: 2vw;
    }
}

@media screen and (max-width: 500px){
    #texto{
        font-size: 13px;
    }
}

@media screen and (max-width: 380px){
    #texto{
        font-size: 13px;
    }
}

/*Galaxy Fold*/
@media screen and (max-width: 320px){
    #texto{
        font-size: 10px;
    }
}

@media screen and (max-width: 820px){
    .sidebar {
        width: 140px;
        gap: 5px;
        padding: 15px;
    }
    .sidebar.active {
        width: 60px;
    }
    .menu ul li a {
        gap: 5px;
        font-size: 10px;
        padding: 8px 3px;
    }
    .menu .sub-menu li a {
        font-size: 9px;
    }
    .user-details .title, .menu .title{
        font-size: 9px;
    }

    .user-details .name{
        font-size: 12px;
    }
    .sidebar .head {
        flex-direction: column;
        align-items: center;
    }

    #younique{
        height: 25px; 
    }

    .user-img{
        width: 33px;
        height: 33px;
        margin-left: -8px;
    }
    .menu ul li .icon{
        height: 20px;
    }
    .historia{
        width: 89px;
    }
}