@charset "UTF-8";

@media screen and (max-width: 2560px) and (min-width: 2000px){


}


@media screen and (max-width: 1440px){

}


@media screen and (max-width: 1024px){
}

@media screen and (max-width: 988px){

}

@media screen and (max-width: 850px){
    .first-column{
        display: none;
    }
    .content::before{
        display: none;
    }
    .label-input{
        width: 55vw;
        height: 30px;
    }
    .chamada{
        font-size: 2vw;
    }
    .title{
        font-size: 3vw;
    }
    .form input::placeholder {
        font-size: 11px;
    }
    .icon{        
        font-size: 20px !important;
    }
}

@media screen and (max-width: 650px){
    .title{
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 500px){
    .title{
        font-size: 5vw;
    }
    .chamada{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 380px){
    .chamada{
        font-size: 3vw;
    }
}

/*Galaxy Fold*/
@media screen and (max-width: 320px){
    .chamada{
        font-size: 3vw;
    }
}
