@charset "UTF-8";

@media screen and (max-width: 1280px){
    main > .conteudo > p{
        top: 27vw;
        line-height: 30px;
        font-size: 20px;
    }
    #meta{
        top: 15vw;
        margin-left: 10px;
        height: 100px;
      }
}


@media screen and (max-width: 1024px){
    main > .conteudo > p{
        top: 27vw;
        line-height: 30px;
        font-size: 1.9vw;
        margin: 10px;
    }
    #meta{
        top: 15vw;
        margin-left: 10px;
        height: 100px;
      }
}

@media screen and (max-width: 988px){
    main > .conteudo > p{
        top: 30vw;
        line-height: 20px;
        font-size: 20px;
        margin: 10px;
    }
    #meta{
        top: 20vw;
        margin-left: 10px;
        height: 90px;
      }
}

@media screen and (max-width: 850px){
    main > .conteudo > p{
        top: 40vw;
        line-height: 20px;
        font-size: 1.8vw;
        margin: 10px;
    }
    #meta{
        top: 25vw;
        margin-left: 10px;
        height: 100px;
      }
}

@media screen and (max-width: 500px){
    main > .conteudo > p{
        top: 60vw;
        line-height: 20px;
        font-size: 13px;
        margin: 10px;
    }
    #meta{
        top: 35vw;
        margin-left: 10px;
        height: 90px;
      }
}

@media screen and (max-width: 380px){
    main > .conteudo > p{
        top: 45%;
        line-height: 20px;
        font-size: 14px;
        margin: 10px;
    }
    #meta{
        top: 25%;
        margin-left: 10px;
        height: 90px;
      }
}

/*Galaxy Fold*/
@media screen and (max-width: 320px){
    #meta{
        top: 25%;
        margin-left: 1px;
        height: 60px;
    }
    main > .conteudo > p{
        top: 40%;
        line-height: 13px;
        font-size: 10px;
        margin: 10px;
    }
}

@media screen and (max-width: 768px){
    .sidebar {
        position: relative;
        width: 140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: #fff;
        padding: 15px;
        border-radius: 0px 30px 30px 0px;
    }
    .sidebar.active {
        width: 70px;
    }

    .menu ul li a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 10px;
        font-weight: 500;
        color: #757575;
        text-decoration: none;
        padding: 8px 3px;
        border-radius: 8px;
        transition: all 0.3s;
    }
    .menu .sub-menu li a {
        padding: 10px 8px;
        font-size: 9px;
    }
    .user-details .title, .menu .title{
        font-size: 9px;
    }

    .user-details .name{
        font-size: 12px;
    }
    .sidebar .head {
    flex-direction: column;
    align-items: center;
    }
    #younique{
        height: 25px; 
      }
}