@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Começo da Fonte */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.circeR{
  font-family: "circe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.circeB{
  font-family: "circe", sans-serif;
  font-weight: 700;
  font-style: normal;
} 

/*Fim da Fonte */


*{
  box-sizing: border-box;
}

.navbar{
  background-color: #FF6600;
}

.profile{
  width: 45px;
  margin-left: -15%;
  transition: transform 0.4s;
}

.profile:hover{
  transform: scale(1.15);
}

body{
  background-color: #DBD9D9;
  margin: 0;
  font-family: sans-serif;
}

#setaesquerda{
  text-align: end;
  margin-right: 10px;
  margin-top: -25px;
}

#setadireita{
  text-align: end;
  margin-right: 10px;
  margin-top: -25px;
}

.side{
  align-items: flex-start;
}

.sidebar{
  margin-top: 72px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 100%;
  padding: 40px 10px 30px 10px ;
  background-color: #F4F4F4;
  box-shadow: 0px 25px 50px 20px #2f333631;
  border-radius: 0px 15px 15px 0px;
  transition: width 0.5s ease;
}

.sidebar button{
  height: 60px;
  background: transparent;
  border: 0;
  font-family: inherit;
  color: #A6A4A4;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.sidebar button > span{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  padding: 0px 14px 0px 12px;
  border-radius: 20px;
  line-height: 1;
}

.sidebar button:hover > span{
  background: #ebeaea;
  width: 225px;
  transition: all 0.3s;
}


.sidebar button > span > img{
  position: relative;
  width: 2em;
}

.topico{
  font-size: 17px;
}

.sidebar nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#progresso {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#textoProgresso {
  text-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.253);
  font-weight: 500;
  font-size: 18px;
}

.progress {
  height: 20px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#myProgress {
  margin-top: 10px;
  width: 66%;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1.1px;
  margin-left: 17%;
}

#myBar{
  height: 100%;
  background-color: #FF6600;
  border-radius: 40px;
  width: 0;
  animation: progress 3.5s ease-in;
}

#aulas{
  margin-top: 6px;
  color: #FF6600;
  text-shadow: 1px 1.5px 4px rgba(255, 115, 0, 0.247);
}

#sidebar{
  transition: width 0.7s ease;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Opacidade inicial 0 */
  }
  to {
    opacity: 1; /* Opacidade final 1 */
  }
}

@media (width < 600px){
  .sidebar{
    width: 72px;
  }

  h2, .topico, #titulonav, #setaesquerda, #progresso, #myProgress, .seta-para-baixo{
    display: none;
  }
}

@media (width > 600px){
  #setadireita{
    display: none;
  }
}