@charset "UTF-8";

/*Começo da Fonte */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

.circeR{
  font-family: "circe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.circeB{
  font-family: "circe", sans-serif;
  font-weight: 700;
  font-style: normal;
} 

/*Fim da Fonte */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #FF6600;
}

.profile{
  width: 45px;
  margin-left: -15%;
  transition: transform 0.4s;
}

.profile:hover{
  transform: scale(1.15);
}

body{
  background-color: #DBD9D9;
}

.container{
  width: 100%;
  min-height: 100vh;
}

.sidebar{
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 30px;
}

.sidebar .head{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.user-img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img{
  width: 100%;
  object-fit: cover;
}

.user-details .title, .menu .title{
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
}

.user-details .name{
  font-size: 14px;
  font-weight: 500;
}
